*
{
	margin: 0;
	padding: 0;
	position: relative;
}

.menu-bar
{
	font-family:sans-serif;
	min-height: 8%;
	background-image: linear-gradient(to right, #09c6f9,#045de9);
	
}.menu-bar ul
{
	padding: 10px;
}

.menu-bar img
{
	width: 250px;
}

.nav-link{
	color: white;
	padding-left: 20px;
	font-family: "sans-serif";
	font-weight: 600;
}
.nav-link:hover{
	color:black;
}
.nav-link active
{
	colour:#000;
}
.fa-bars
{
	color: #fff;
	font-size: 30px;
}
.navbar-toggler.fa
{
	color: #fff;
}
.navbar-toggler{
	outline: none;
	padding:0 10;
	f0nt-weight:600;
}


/*..............banner section...................*/
#banner
{
	background-image: linear-gradient(to right, #09c6f9,#045de9);
	color: #fff;
	padding-top: 5%;
}
.promo-title
{
	font-size: 40px;
	f0nt-weight:600;
	margin-top: 100px;
}
.singup-btn
{
box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #09c6f9,#045de9);
	color: lightblue;
	width: 50%;
	padding: 10px;
	border: 1px solid #3498db;
	border-radius: 20px;
	border-radius-color:blue;
	font-size: 20px;
	margin: 10px 0;
	border: none;
	cursor: pointer;
	transition: 0.8s;
}

.singup-btn:hover
{
	color: darkblue;
}
.bottom-img
{
	width: 100%
		
}
/*................................services..........................*/
.title::before
{
	content: '';
	background: #045de9;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
.title::after
{
	content: '';
	background:  #045de9;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}
 p
{
	font-weight: 700;
	font-size: 20px;
}
.stockimage
{
	margin-top: 20px;
}
.trust h1
{
	margin-top: 150px;
	margin-bottom: 40px;
	
}
.img-fluid
{
	margin-top: 100px;
}

/*..........................footer section................................*/
#footer
{
	background-image: linear-gradient(to right, #09c6f9,#045de9);
	color: #fff;
}
.footer-img
{
	width: 100%;
}
.footer-box
{padding:20px;}
.footer-box img
{
	width: 120px;
	margin-bottom: 20px;
}
.foot
{
	color: ghostwhite;
}
.footer-box .fa
{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #09c6f9,#045de9);
}
.footer-box .form-control
{
	box-shadow: none;
	border: none;
	border-radius: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 300px;
}
.footer-box .btn-primary
{
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #09c6f9,#045de9);
	color: lightblue;
	width: 50%;
	padding: 10px;
	border: 1px solid #3498db;
	border-radius: 20px;
	border-radius-color:blue;
	font-size: 20px;
	margin: 10px 0;
	border: none;
	cursor: pointer;
	transition: 0.8s;
}
.footer-box .btn-primary:hover
{
	color: darkblue;
}
hr
{
	background-color: #fff;
}
.copyright
{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}